
<x-button [disabled]="x.isLoading()" (clicked)="clicked()">Refresh</x-button>

<form [formGroup]="form()">
<div class="grid grid-cols-[minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_.25fr)_minmax(100px,_.25fr)]">
    <div class="font-bold flex items-center py-1.5">Label</div>
    <div class="font-bold flex items-center py-1.5">Value</div>
    <div class="font-bold flex items-center py-1.5">Question Page</div>
    <div class="font-bold flex items-center py-1.5">Question Kind</div>
@for (question of current().results; track question.label) {
<div [ngClass]="{'bg-purple-300': isEven($index), 'bg-purple-400': !isEven($index)}" class="flex items-center py-1.5 animate-fade-in">
    {{question.label}}
</div>

<div [ngClass]="{'bg-purple-300': isEven($index), 'bg-purple-400': !isEven($index)}" class="flex items-center py-1.5 animate-fade-in">
    @switch (question.questionKind) {
        @case ('AutoLine') {
            {{question.value}}
        }
        @case ('ComboBox') {
            <x-dropdown [formControlName]="question.label" [options]="question.options!"></x-dropdown>
        }
        @case ('Radio') {
            <x-dropdown [formControlName]="question.label" [options]="question.options!"></x-dropdown>
        }
        @case ('SingleLine') {
            <x-input [formControlName]="question.label" [type]="question.inputType!"></x-input>
        }
        @default {
            Not supported
        }
    }
</div>
<div [ngClass]="{'bg-purple-300': isEven($index), 'bg-purple-400': !isEven($index)}" class="flex items-center py-1.5 animate-fade-in">
    {{question.questionPage}}
</div>
<div [ngClass]="{'bg-purple-300': isEven($index), 'bg-purple-400': !isEven($index)}" class="flex items-center py-1.5 animate-fade-in">
    {{question.questionKind}}
</div>
}
</div>
</form>

<x-paginator [paginationResult]="current()" class="mt-2" [(pageNumber)]="pageNumber" [(pageSize)]="pageSize" ></x-paginator>